<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <script src="https://kit.fontawesome.com/5e2b46074f.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/employeeLogs.css">
  <link rel="shortcut icon" href="/bitimg.png" type="image/x-icon">
  <title>Employee Logs</title>
</head>

<body>
<div class="body">
  <a href="/home" class="back">
    <i class="fa-solid fa-backward"></i>
    <p>Go Back</p>
  </a>
  <div class="container">
    <% if (req.query.error === "error during search") { %>
      <span id="popup"  style="color: red;"><h3><%= req.query.error%></h3></span>
    <% } %>
    <% if (req.query.error === "error deleting log") { %>
      <span id="popup"  style="color: red;"><h3><%= req.query.error%></h3></span>
    <% } %>
    <% if (req.query.message === "Deleted log successfully") { %>
      <span id="popup"  style="color: orangered;"><h3><%= req.query.message%></h3></span>
    <% } %>
     <% if (req.query.message === "Searching is not available yet") { %>
      <span id="popup"  style="color: greenyellow;"><h3><%= req.query.message%></h3></span>
    <% } %>
     <% if (req.query.message === "Deleted all logs successfully") { %>
      <span id="popup"  style="color: greenyellow;"><h3><%= req.query.message%></h3></span>
    <% } %>
    <h2>Employee Logs</h2>
    <table>
      <thead>
        <tr>
          <th>Employee</th>
          <th>Phone</th>
          <th>Otp Name</th>
          <th>Time</th>
        </tr>
      </thead>
      <tbody>
        <% logs.forEach(log => { %>
          <tr>
            <td data-label="Employee">
              <span><%= log.user.name %></span>
            </td>
            <td data-label="Phone">
              <span><%= log.user.phone %></span>
            </td>
            <td data-label="otpName">
              <span><%= log.otpName %></span>
            </td>
            <td data-label="Time">
                <span><%= log.queriedAt.toLocaleString('en-NG', {
                        timeZone: 'Africa/Lagos',
                        year: 'numeric',
                        month: '2-digit',
                        day: '2-digit',
                        hour: '2-digit',
                        minute: '2-digit',
                        hour12: true
                    }) %>
                </span>
            </td>
            <td> 
              <form action="/deleteOneLog/<%=log.id%>?_method=DELETE" method="POST"  onsubmit="return confirmDelete()">
                <button class="delete-btn" style="color: red;"><i class="fa-solid fa-trash"></i></button>
              </form>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>

   <div class="bottom-space">
    <form action="/deleteAllLogs/?_method=DELETE" method="POST"  onsubmit="return confirmDelete()">
        <button class="delete-all-btn" >Delete All</button>
    </form>
     <!-- Pagination Controls -->
    <div class="pagination">
      <a href="/employeelog?page=1">First</a>
      <% if (currentPage > 1) { %>
          <a href="/employeelog?page=<%= currentPage - 1 %>">Previous</a>
      <% } %>
      <% if (currentPage < totalPages) { %>
          <a href="/employeelog?page=<%= currentPage + 1 %>">Next</a>
      <% } %>
      <a href="/employeelog?page=<%= totalPages %>">Last</a>
    </div>
   </div>
  </div>
</div>
<footer>
  <form method="GET" class="search-bar" action="/searchLogs">
    <!-- Employee select (by ID) -->
    <select name="user">
      <option value="">Search by Employee</option>
      <% employees.forEach(emp => { %>
        <option value="<%= emp._id %>"><%= emp.name %></option>
      <% }) %>
    </select>
    <!-- OTP select (by Name) -->
    <select name="otp">
      <option value="">Search by Otp</option>
      <% otps.forEach(otp => { %>
        <option value="<%= otp.name %>"><%= otp.name %></option>
      <% }) %>
    </select>
    <!-- Date range -->
    <input type="date" name="startDate" placeholder="mm-dd-yyyy" />
    <input type="date" name="endDate" placeholder="mm-dd-yyyy" />
    <button type="submit">Search</button>
  </form>
</footer>

  <script>
    function copyText(text) {
      navigator.clipboard.writeText(text).then(() => {
        showToast(`Copied: ${text}`)
      })
    }

    function showToast(message) {
      const toast = document.getElementById("toast")
      toast.textContent = message
      toast.className = "show"
      setTimeout(() => {
          toast.className = toast.className.replace("show", "")
      }, 4000)
    }

    // JavaScript to hide the error message after 3 seconds
    window.onload = function() {
        const popup = document.getElementById('popup')
        // console.log("there is an error:", popup)
        if (popup) {
            setTimeout(() => {
              popup.style.display = 'none'
            }, 3000) // 3 seconds
        }
    }

    function confirmDelete() {
      return confirm("Are you sure you want to delete this? This action is permanent and cannot be undone.")
    }
  </script>
</body>
</html>
