<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <script src="https://kit.fontawesome.com/5e2b46074f.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/employeeLogs.css">
  <link rel="shortcut icon" href="/bitimg.png" type="image/x-icon">
  <title>Employee Logs</title>
</head>

<body>

<div class="body">
  <a href="/home" class="back">
    <i class="fa-solid fa-backward"></i>
    <p>Go Back</p>
  </a>
  <form class="search-bar" action="/searchLogs" method="POST">
    <input type="text" name="query" placeholder="Search logs..." required>
    <button type="submit">Search</button>
  </form>
  <div class="container">
    <% if (req.query.error === "error during search") { %>
      <span id="popup"  style="color: red;"><h3><%= req.query.error%></h3></span>
    <% } %>
    <% if (req.query.error === "error deleting log") { %>
      <span id="popup"  style="color: red;"><h3><%= req.query.error%></h3></span>
    <% } %>
    <% if (req.query.message === "Deleted log successfully") { %>
      <span id="popup"  style="color: orangered;"><h3><%= req.query.message%></h3></span>
    <% } %>
     <% if (req.query.message === "Searching is not available yet") { %>
      <span id="popup"  style="color: greenyellow;"><h3><%= req.query.message%></h3></span>
    <% } %>
     <% if (req.query.message === "Deleted all logs successfully") { %>
      <span id="popup"  style="color: greenyellow;"><h3><%= req.query.message%></h3></span>
    <% } %>
    <h2>Employee Logs</h2>
    <table>
      <thead>
        <tr>
          <th>Employee</th>
          <th>Phone</th>
          <th>Otp Name</th>
          <th>Time</th>
        </tr>
      </thead>
      <tbody>
        <% logs.forEach(log => { %>
          <tr>
            <td data-label="Employee">
              <span><%= log.user.name %></span>
              <!-- <button class="copy-btn" onclick="copyText('<%= log.user.name %>')">
                <i class="fas fa-copy"></i>
              </button> -->
            </td>
            <td data-label="Phone">
              <span><%= log.user.phone %></span>
              <!-- <button class="copy-btn" onclick="copyText('<%= log.user.phone %>')">
                <i class="fas fa-copy"></i>
              </button> -->
            </td>
            <td data-label="otpName">
              <span><%= log.otpName %></span>
              <!-- <button class="copy-btn" onclick="copyText('<%= log.otpName %>')">
                <i class="fas fa-copy"></i>
              </button> -->
            </td>
            <td data-label="Time">
                <span><%= log.queriedAt.toLocaleString('en-NG', {
                        timeZone: 'Africa/Lagos',
                        year: 'numeric',
                        month: '2-digit',
                        day: '2-digit',
                        hour: '2-digit',
                        minute: '2-digit',
                        hour12: false
                    }) %>
                </span>
              <!-- <button class="copy-btn" onclick="copyText('<%= log.queriedAt %>')">
                <i class="fas fa-copy"></i>
              </button> -->
            </td>
            <td> 
                <form action="/deleteOneLog/<%=log.id%>?_method=DELETE" method="POST"  onsubmit="return confirmDelete()">
                    <button class="delete-btn" style="color: red;"><i class="fa-solid fa-trash"></i></button>
                </form>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>

   <div class="bottom-space">
    <form action="/deleteAllLogs/?_method=DELETE" method="POST"  onsubmit="return confirmDelete()">
        <button class="delete-all-btn" >Delete All Logs</button>
    </form>
     <!-- Pagination Controls -->
    <div class="pagination">
        <% if (currentPage > 1) { %>
            <a href="/employeelog?page=<%= currentPage - 1 %>">Previous</a>
        <% } %>
        
        <% for (let i = 1; i <= totalPages; i++) { %>
            <a href="/employeelog?page=<%= i %>" class="<%= currentPage === i ? 'active' : '' %>"><%= i %></a>
        <% } %>
        
        <% if (currentPage < totalPages) { %>
            <a href="/employeelog?page=<%= currentPage + 1 %>">Next</a>
        <% } %>
    </div>
   </div>
  </div>
</div>
  
  <script>
    function copyText(text) {
      navigator.clipboard.writeText(text).then(() => {
        showToast(`Copied: ${text}`)
      })
    }

    function showToast(message) {
      const toast = document.getElementById("toast")
      toast.textContent = message
      toast.className = "show"
      setTimeout(() => {
          toast.className = toast.className.replace("show", "")
      }, 4000)
    }

    // JavaScript to hide the error message after 3 seconds
    window.onload = function() {
        const popup = document.getElementById('popup')
        // console.log("there is an error:", popup)
        if (popup) {
            setTimeout(() => {
                popup.style.display = 'none'
            }, 3000) // 3 seconds
        }
    }

    function confirmDelete() {
        return confirm("Are you sure you want to delete this log? This action is permanent and cannot be undone.")
    }
  </script>
</body>
</html>
