<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <script src="https://kit.fontawesome.com/5e2b46074f.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/viewEmployees.css">
  <link rel="shortcut icon" href="/bitimg.png" type="image/x-icon">
  <title>View Employees</title>
</head>
<body>
  <a href="/home" class="back">
    <i class="fa-solid fa-backward"></i>
    <p>Go Back</p>
  </a>
  <div id="toast"></div>
  <div class="container">
    <h2>All Employees</h2>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Phone Number</th>
        </tr>
      </thead>
      <tbody>
        <% employees.forEach(employee => { %>
          <tr>
            <td data-label="ID">
              <span><%= employee._id %></span>
              <button class="copy-btn" onclick="copyText('<%= employee._id %>')">
                <i class="fas fa-copy"></i>
              </button>
            </td>
            <td data-label="Name">
              <span><%= employee.name %></span>
              <button class="copy-btn" onclick="copyText('<%= employee.name %>')">
                <i class="fas fa-copy"></i>
              </button>
            </td>
            <td data-label="Phone">
              <span><%= employee.phone %></span>
              <button class="copy-btn" onclick="copyText('<%= employee.phone %>')">
                <i class="fas fa-copy"></i>
              </button>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
         <!-- Pagination Controls -->
    <div class="pagination">
        <% if (currentPage > 1) { %>
            <a href="/users?page=<%= currentPage - 1 %>">Previous</a>
        <% } %>
        
        <% for (let i = 1; i <= totalPages; i++) { %>
            <a href="/users?page=<%= i %>" class="<%= currentPage === i ? 'active' : '' %>"><%= i %></a>
        <% } %>
        
        <% if (currentPage < totalPages) { %>
            <a href="/users?page=<%= currentPage + 1 %>">Next</a>
        <% } %>
    </div>
  </div>

  <script>
    function copyText(text) {
      navigator.clipboard.writeText(text).then(() => {
        showToast(`Copied: ${text}`)
      })
    }

    function showToast(message) {
      const toast = document.getElementById("toast")
      toast.textContent = message
      toast.className = "show"
      setTimeout(() => {
        toast.className = toast.className.replace("show", "")
      }, 4000)
    }
  </script>
</body>
</html>
