<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <script src="https://kit.fontawesome.com/5e2b46074f.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/viewotps.css">
  <link rel="shortcut icon" href="/bitimg.png" type="image/x-icon">
  <title>View OTPs</title>
</head>

<body>
   <% if (req.query.error === "error during search") { %>
      <span id="popup"  style="color: red;"><h3><%= req.query.error%></h3></span>
    <% } %>
<div class="body">
  <a href="/home" class="back">
    <i class="fa-solid fa-backward"></i>
    <p>Go Back</p>
  </a>
  <form class="search-bar" action="/searchOtps" method="POST">
    <input type="text" name="query" placeholder="Search for an otp..." required>
    <button type="submit">Search</button>
  </form>
 <div id="toast"></div>
  <div class="container">
    <h2>All OTPs</h2>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Phrase</th>
          <th>Secret</th>
        </tr>
      </thead>
      <tbody>
        <% otps.forEach(otp => { %>
          <tr>
            <td data-label="ID">
              <span><%= otp._id %></span>
              <button class="copy-btn" onclick="copyText('<%= otp._id %>')">
                <i class="fas fa-copy"></i>
              </button>
            </td>
            <td data-label="Name">
              <span><%= otp.name %></span>
              <button class="copy-btn" onclick="copyText('<%= otp.name %>')">
                <i class="fas fa-copy"></i>
              </button>
            </td>
            <td data-label="Phrase">
              <span><%= otp.phrase %></span>
              <button class="copy-btn" onclick="copyText('<%= otp.phrase %>')">
                <i class="fas fa-copy"></i>
              </button>
            </td>
            <td data-label="Secret">
              <span><%= otp.secret %></span>
              <button class="copy-btn" onclick="copyText('<%= otp.secret %>')">
                <i class="fas fa-copy"></i>
              </button>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
     <!-- Pagination Controls -->
    <div class="pagination">
      <a href="/otps?page=1">First</a>
      <% if (currentPage > 1) { %>
          <a href="/otps?page=<%= currentPage - 1 %>">Previous</a>
      <% } %>
      <% if (currentPage < totalPages) { %>
          <a href="/otps?page=<%= currentPage + 1 %>">Next</a>
      <% } %>
      <a href="/otps?page=<%= totalPages %>">Last</a>
    </div>
  </div>
</div>
  
  <script>
    function copyText(text) {
      navigator.clipboard.writeText(text).then(() => {
        showToast(`Copied: ${text}`)
      })
    }

    function showToast(message) {
      const toast = document.getElementById("toast")
      toast.textContent = message
      toast.className = "show"
      setTimeout(() => {
          toast.className = toast.className.replace("show", "")
      }, 4000)
    }

    // JavaScript to hide the error message after 3 seconds
    window.onload = function() {
    const popup = document.getElementById('popup')
    // console.log("there is an error:", popup)
    if (popup) {
        setTimeout(() => {
            popup.style.display = 'none'
        }, 3000) // 3 seconds
    }
}
  </script>
</body>
</html>
